body{
    margin: 0;
}
.container{
    display: flex;
    align-items: center;
}
.container-about{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em 3em;
    background-image: url(../img/010f3c8fda9accb6371cd8490fc3dd15.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    font-weight: 600;
    height: 23em;
}
.container-about h2{
    font-size: 2.5em;
    margin: 0;
}
.container-about p{
    font-size: 1.5em;
    margin: 0;
}
.container-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em 3em;
    background-color: #c30320;
    color: #fff;
    font-weight: 600;
    height: 23em;
}
.container-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3em;
    background-color: #29166f;
    color: #fff;
    gap: 2em;
}
.container-contact h2{
    font-size: 2.5em;
    margin: 0;
}
.container-contact p{
    font-size: 1.5em;
    margin: 0;
}
.menu{
    padding: 1em;
    height: 23em;
    background-image: url(../img/menu-porteño.jpg);
    background-size: cover;
    background-position-x: -13px;
}
.menu ul{
    padding: 23px;
    list-style: none;
    font-size: 16px;
}
.gradient{
    width: 50%;
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0.15) 100%);
    color: #fff;
    height: 23em;
}
.gradient h1{
    font-size: 3em;
    padding: 2em 3em;
}
.banner-img{
    background-image: url('../img/1510033_10152826613401933_1295258597951281782_n.jpg');
    width: 50%;
    background-size: cover;
    background-position-y: -93px;
    height: 23em;
}
.nav-list{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-around;
    list-style: none;
    background-color: #da251c;
    margin: 0;
    padding: 16px;
}
.nav-button{
    background: #29166f;
    color: #fff;
    padding: 16px 2em;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.2em;
}
.sticky{
    position: sticky;
    top: 0;
    z-index: 1000;
}